<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left" style="padding: 0px !important ;">
                    <zxing-scanner (permissionResponse)="permissionResponse($event)" class="zxing-scanner" (scanSuccess)="scanSucess($event)"></zxing-scanner>
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Login with Code QR</h1>
                        <small>If you don't have the code QR yet, login with your email and password, and then go to your profile and you will find your code there.</small>
                        <form >
                            <div class="form-group mt-4">
                                <button class="btn btn-primary btn-block" [routerLink]="['login']"
                                >Login with Email and Password</button>
                            </div>
                        </form>
                        <div class="alert alert-danger" *ngIf="errorMessage">
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
