<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Exam Algorithme</h3>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-0"><strong>Date: </strong></h4>
                        <small class="text-muted-light">22/02/2022</small>
                        <h4 class="mt-3 mb-0"><strong>Time: </strong></h4>
                        <small class="text-muted-light">12:00 - 13:00</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center m-t-30">
                        <h4 class="mb-0"><strong>Grade</strong></h4>
                        <small class="text-muted-light">15/20</small>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div>
                <div class="card-header d-flex col-12">
                    <div class="col-10">
                        <h4 class="mb-0">
                            <strong>#9</strong>
                            Github command to deploy comits?
                        </h4>
                    </div>
                    <div class="col-2">
                        <h6 class="text-danger mt-1 float-end" >01 pts</h6>
                    </div>
                    
                    
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" name="checkbox" class="form-check-input is-valid" checked id="1">
                            <label for="1" class="form-check-label">git Push</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" name="checkbox" class="form-check-input is-invalid" checked id="2"> 
                            <label for="2" class="form-check-label">git commit -m "message"</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkbox"> git Pull
                            </label>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        
    </div>
</div>