<div *ngFor="let exm of exams ; let examIndex = index;" class="col-12 col-md-6 col-lg-4 d-flex">
    <div  class="card flex-fill">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-6">
                    <h5 class="card-title">{{exm.exam.examType.type | SeparateWords |capitalizeLetter: 'first' }}</h5>
                </div>
                <div class="col-6">
                    <span class="float-end"><i class="fas fa-calendar-alt"></i> {{exm.exam.date | date:"dd/MM/yyyy"}}</span>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
            <div class="dash-widget1 col-12">
                <div 
                    class="circle-bar" 
                    *ngIf="getCircleClass(exm.isDone, exm.grade) && exm.grade >= 0" 
                    [ngClass]="circleClass">
                        <div  
                            [ngClass]="circleGraphClass" 
                            [attr.data-percent]="dataPercent">
                            <b *ngIf="exm.grade === 0 && exm.isDone">0/20</b>
                            <b *ngIf="exm.grade === 0 && !exm.isDone">0</b>
                            <b *ngIf="exm.grade > 0">{{exm.grade}}<br>/20</b>
                            
                        </div>
                </div>
                <b *ngIf="exm.grade === -2" class="text-danger"> You have cheated </b>
                <div class="dash-details">
                    <h4>{{exm.exam.title |capitalizeLetter: 'first'}}</h4>
                    <ul>
                        <li><i class="fas fa-clock"></i> {{exm.exam.startHour}} - {{exm.exam.endHour}}</li><br>
                        <li><i class="fas fa-hourglass-end"></i> {{ getTime(exm.exam.startHour,exm.exam.endHour) }} Minutes</li>
                        <li><i class="fa fa-question-circle"></i> {{exm.exam.questoin_count}} Questions</li>
                        <!--li><i class='fas fa-user-edit'></i> Mr Mohammed TEDLAOUI</li-->
                    </ul>
                    <div class="dash-btn">
                        <button type="submit" class="btn btn-info" *ngIf="!exm.isDone" [routerLink]="['preparation-exam/'+exm.exam.id]" [disabled]="startNow(examIndex)">Start</button>
                        <button type="submit" class="btn btn-info" *ngIf="exm.isDone && exm.grade >= 0" [disabled]="!exm.exam.answersArePublished" [routerLink]="[exm.exam.id]">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
