<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">{{examDetails.title | capitalizeLetter: 'first'}} {{examDetails.examType | SeparateWords | capitalizeLetter: 'first'}}</h3>
        </div>
    </div>
</div>
<div class="col-12 bg-white" #fullScreen style=" padding: 30px !important; height: 100%;">
    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-group">
                <div class="card">
                    <div class="card-body" 
                        *ngFor="let stdnt of examDetails.studentExams">
                        <h4 class="mb-0"><strong>Full Name: </strong></h4>
                        <small class="text-muted-light">{{stdnt.student.firstName | capitalizeLetter: 'full' }} {{stdnt.student.lastName | capitalizeLetter: 'full'}}</small>
                        <h4 class="mb-0"><strong>Student Number: </strong></h4>
                        <small class="text-muted-light">{{stdnt.student.studentNumber}}</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center m-t-30">
                        <h4 class="mb-0"><strong>{{examDetails.questoin_count}}</strong></h4>
                        <small class="text-muted-light">TOTAL QUESTIONS</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center m-t-30">
                        <h4 class="mb-0">
                            <strong>
                                <countdown [config]="{ leftTime: leftTime, format: 'hh:mm:ss' }"></countdown>
                            </strong>
                        </h4>
                        <small class="text-muted-light">TIME LEFT</small>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 d-flex height-65">
        <div class="card card-form col-12">
            <div class="formExam">
                <div class="left-side col-3">
                    <div class="left-heading">
                        <h3>Questions</h3>
                    </div>
                    <div class="scroll-exam">
                        <ul class="progress-barr">
                            <li 
                                *ngFor="let qst of examDetails.questions; let i=index"
                                [ngClass]="{'active': i === 0}">
                                question: {{qst.point}} pts
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-side col-9">
                    <form [formGroup]="form">
                        <div class="mainn"
                        *ngFor="let qst of examDetails.questions; let i=index"
                        [ngClass]="{'active': i === 0}">
                            <div>
                                <div>
                                    <h4 class="mb-0">
                                        <strong>#{{i+1}}</strong>
                                        {{qst.text | QuestionMark}}
                                    </h4>
                                </div>
                                <hr>
                                <div>
                                    <div class="form-group" 
                                        *ngFor="let answer of qst.answers;">
                                        <div class="form-check" 
                                            *ngIf="qst.inputType === 'checkbox'">
                                            <input type="checkbox" name="checkbox"
                                                class="form-check-input"
                                                id="{{answer.id}}"
                                                (change)="addAnswerToQuestion(answer.id,qst.id)">
                                            <label class="form-check-label" for="{{answer.id}}">{{answer.title}}</label>                
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="qst.inputType === 'select'">
                                        <select class="form-select mb-6" 
                                            (change)="setSelectedValue($event,qst.id)">
                                            <option value="">Select an answer</option>
                                            <option *ngFor="let answer of qst.answers"
                                                [ngValue]="answer.id">
                                                {{answer.title}}
                                            </option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                            <div class="" style="margin-top: 120px;">
                                <button class="btn btn-outline-primary back_button"
                                    *ngIf="i > 0"
                                    (click)="setOneAnswerSelectedAtLeast(examDetails.questions[i-1].id)">
                                    Back</button>
                                <button class="btn btn-success float-end next_button"
                                    *ngIf="i < examDetails.questions.length-1"
                                    [disabled]="oneAnswerSelectedAtLeast"
                                    (click)="setOneAnswerSelectedAtLeast(examDetails.questions[i+1].id)">
                                    Next</button>   
                                <button class="btn btn-danger float-end submit_button"
                                    *ngIf="i === examDetails.questions.length-1"
                                    type="submit"
                                    (click)="onSubmit()"
                                    [disabled]="oneAnswerSelectedAtLeast">
                                    Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="mainn text-center ">
                        <div class="text congrats" *ngFor="let stdnt of examDetails.studentExams">
                            <img src="../../assets/img/check.png" width="50" height="50" >
                            <div class="m-t-12">
                                <h2>Congratulations!</h2>
                                <p>Thanks Mr./Mrs. <b>{{stdnt.student.firstName | capitalizeLetter: 'full' }} {{stdnt.student.lastName | capitalizeLetter: 'full'}}</b> your answers have been submitted successfully.</p>
                            </div>   
                        </div>
                        <div >
                            <button class="btn btn-success" (click)="goHome()">Back Home</button>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>