<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Take Exam</h3>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-0"><strong>Full Name: </strong></h4>
                        <small class="text-muted-light">ALAA TAHRAOUI</small>
                        <h4 class="mt-3 mb-0"><strong>Level: </strong></h4>
                        <small class="text-muted-light">MASTER 2</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center m-t-30">
                        <h4 class="mb-0"><strong>25</strong></h4>
                        <small class="text-muted-light">TOTAL QUESTIONS</small>
                    </div>
                </div>
                <div class="">
                    <div class="card-body text-center col-12">
                        <h4 class="mb-0 col-12"><strong>Time left</strong></h4>
                        <div class="countdown col-12" data-date="6-4-2029" data-time="12:00">
                            <div class="day"><span class="num"></span><span class="word"></span></div>
                            <div class="hour"><span class="num"></span><span class="word"></span></div>
                            <div class="min"><span class="num"></span><span class="word"></span></div>
                            <div class="sec"><span class="num"></span><span class="word"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h4 class="mb-0">
                    <strong>#9</strong>
                    Github command to deploy comits?
                </h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="checkbox"> git Push
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="checkbox"> git commit -m "message"
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="checkbox"> git Pull
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <button type="button" class="btn btn-white">Skip</button>
                <button type="button" class="btn btn-success float-right"><span>Submit</span> <i
                        class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>