<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Notifications</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0 ">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Description</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let notif of notifications | paginate:{
                                id:'list-pagination',
                                itemsPerPage: 1,
                                currentPage: currentpage,
                                totalItems: totalRecords
                            }">
                                <td><small>{{notif.created_at | date:"dd/MM/yyyy HH:mm:ss"}}</small></td>
                                <td>{{notif.description}}</td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a (click)="deleteNotification(notif.id)" class="btn btn-sm bg-red-light">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <pagination-controls 
                id="list-pagination"
                previousLabel=""
                nextLabel="" 
                (pageChange)="currentpage = $event"
            ></pagination-controls>
        </div>
    </div>
</div>