<!-- <ul class="pagination float-end">
    <li class="paginate_button page-item previous "
    [ngClass]="{'disabled': currentPage-1 < 0}">
        <a (click)="changePage(currentPage-1)" class="page-link"> << </a>
    </li>
    <li class="paginate_button page-item active disabled">
        <a (click)="changePage(currentPage+1)" class="page-link" >{{(currentPage+1)}}</a>
    </li>
    <li class="paginate_button page-item " [ngStyle]="{'display': currentPage+2 > totalPages ? 'none':'block'}">
        <a (click)="changePage(currentPage+1)" class="page-link">{{(currentPage+2)}}</a>
    </li>
    <li class="paginate_button page-item " [ngStyle]="{'display': currentPage+3 > totalPages ? 'none':'block'}">
        <a (click)="changePage(currentPage+2)" class="page-link">{{(currentPage+3)}}</a>
    </li>
    <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage+1 >= totalPages}">
        <a (click)="changePage(currentPage+1)" class="page-link">>></a>
    </li>
</ul> -->