<div *ngIf="addForm">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="page-title">Add Module</h3>
            </div>
            <div class="text-end col-4">
                <button type="submit" class="btn btn-primary me-2" (click)="done()">Done</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Module Name</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" formControlName="name"
                                            [ngClass]="{'is-invalid':(name.invalid && (name.dirty || name.touched))|| (nameError)}"
                                            (keypress)="nameError=''">
                                        <div *ngIf="name.invalid && (name.dirty || name.touched)">
                                            <div *ngIf="name.errors?.['required']" class="text-danger">
                                                Title is required.
                                            </div>
                                            <div *ngIf="name.errors?.['minlength']" class="text-danger">
                                                Title must be at least 3 characters long.
                                            </div>
                                        </div>
                                        <div *ngIf="nameError">
                                            <div class="text-danger">
                                                {{nameError}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Speciality</label>
                                    <div class="col-9">
                                        <select class="form-select" (change)="getLevel($event)" formControlName="speciality" [ngClass]="{'is-invalid':speciality.invalid && (speciality.dirty || speciality.touched)}">
                                            <option value="" selected disabled>Select speciality</option>
                                            <option *ngFor="let speclt of specialities" [value]="speclt">{{speclt.name | SeparateWords | capitalizeLetter: "first"}}</option>
                                        </select>
                                        <div *ngIf="speciality.invalid && (speciality.dirty || speciality.touched)">
                                            <div *ngIf="speciality.errors?.['required']" class="text-danger">
                                                Speciality is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Levels</label>
                                    <div class="col-9" >
                                        <select class="form-select" multiple formControlName="level" [ngClass]="{'is-invalid':level.invalid && (level.dirty || level.touched)}">
                                            <option value="" selected disabled>Select levels</option>
                                            <option *ngFor="let level of levels" [value]="level">{{level.name}}</option>
                                        </select>
                                        <div *ngIf="level.invalid && (level.dirty || level.touched)">
                                            <div *ngIf="level.errors?.['required']" class="text-danger">
                                                Level or Levels are required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                                        *ngIf="!updateForm" (click)="addModule()">Add</button>
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                                        *ngIf="updateForm" (click)="updateModule()">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-8">
            <h3 class="page-title">Modules</h3>
        </div>
        <div class="text-end col-4">
            <button type="submit" class="btn btn-outline-primary me-2" (click)="addForm=true">Add Module <i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-nowrap mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Speciality</th>
                                <th>Levels</th>
                                <th>Created Date</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let module of modules; let indexModule = index">
                                <td>{{(indexModule+1)}}</td>
                                <td>{{module.name}}</td>
                                <td>{{module.created_at | date :'mediumDate'}}</td>
                                <td class="text-end">
                                    <div class="actions">
                                        <a (click)="editModule(module)" class="btn btn-sm bg-success-light me-2">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a class="btn btn-sm bg-danger-light" (click)="deleteAlert(module)">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <ul class="pagination float-end">
                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"class="page-link"> << </a>
                        </li>
                        <li class="paginate_button page-item active" ><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link" >1</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">>></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>