<div class="page-header" *ngIf="examDetails">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">{{examDetails.title | capitalizeLetter: 'first'}} {{examDetails.examType | SeparateWords | capitalizeLetter: 'first'}}</h3>
        </div>
    </div>
</div>
<div class="col-12" *ngIf="examDetails">
    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-group">
                <div class="card">
                    <div class="card-body" *ngIf="examDetails.videoPath && examDetails.grade >= 0">
                        <video  height="540" controls src="{{uploadsURL}}" >
                        </video>
                    </div>
                    <div class="card-body" *ngIf="!examDetails.videoPath && examDetails.grade === -1">
                        <div class="text-center">
                            <span class="text-danger">There is not video for this student, this student didn't take the exam.</span>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="examDetails.grade === -2">
                        <video  height="540" controls src="{{uploadsURL}}" >
                        </video>
                        <div class="text-center">
                            <span class="text-danger">This student has been cheating.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="changeGrade && examDetails.grade >= 0">
        <div class="col-md-12">
            <div class="card" >
                <div class="card-body">
                    <!-- <form [formGroup]="form">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Type Name</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" formControlName="type"
                                            [ngClass]="{'is-invalid':(type.invalid && (type.dirty || type.touched))|| (typeError)}"
                                            (keypress)="typeError=''">
                                        <div *ngIf="type.invalid && (type.dirty || type.touched)">
                                            <div *ngIf="type.errors?.['required']" class="text-danger">
                                                Type is required.
                                            </div>
                                            <div *ngIf="type.errors?.['minlength']" class="text-danger">
                                                Type must be at least 2 characters long.
                                            </div>
                                        </div>
                                        <div *ngIf="typeError">
                                            <div class="text-danger">
                                                {{typeError}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                                            *ngIf="updateForm" (click)="updateLevel()">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form> -->
                    
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary float-end  m-b-15">Change Grade</button>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-0"><strong>Student: </strong></h4>
                        <small class="text-muted-light">{{examDetails.student?.firstName | capitalizeLetter: 'first'}} {{examDetails.student?.lastName | capitalizeLetter: 'first'}}</small>
                        <h4 class="mt-3 mb-0"><strong>Student Number </strong></h4>
                        <small class="text-muted-light">{{examDetails.student?.studentNumber}}</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center m-t-30">
                        <h4 class="mb-0"><strong>Grade</strong></h4>
                        <small class="text-muted-light" *ngIf="examDetails.grade > -1">{{examDetails.grade}}/20</small>
                        <small class="text-muted-light" *ngIf="examDetails.grade === -1">0/20</small>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div 
                *ngFor="let qst of examDetails.questions;
                        let indexOfelement=index;">
                <div class="card-header d-flex col-12">
                    <div class="col-10">
                        <h4 class="mb-0">
                            <strong>#{{indexOfelement+1}}</strong>
                            {{qst.text | QuestionMark}}
                        </h4>
                    </div>
                    <div class="col-2">
                        <h6 class="text-danger mt-1 float-end" >{{qst.point}} pts</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="qst.inputType === 'checkbox'">
                        <div class="form-group"
                            *ngFor="let answr of qst.answers">
                             <div class="form-check" >
                                <input type="checkbox" name="checkbox" class="form-check-input"
                                [ngClass]="{'is-valid':answr.isCorrect,'is-invalid':!answr.isCorrect && answr.isSelected}"
                                [checked]="answr.isSelected" id="{{answr.id}}"
                                (click)="false">
                                <label class="form-check-label" for="{{answr.id}}">{{answr.title}}</label>
                            </div>
                        </div>  
                    </div>
                    <div *ngIf="qst.inputType === 'radio'">
                        <div class="form-group"
                            *ngFor="let answr of qst.answers">
                             <div class="form-check" >
                                <input type="radio" name="{{qst.id}}" class="form-check-input"
                                [ngClass]="{'is-valid':answr.isCorrect,'is-invalid':!answr.isCorrect && answr.isSelected}"
                                [checked]="answr.isSelected" id="{{answr.id}}"
                                (click)="false">
                                <label class="form-check-label" for="{{answr.id}}">{{answr.title}}</label>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>   
        </div>   
    </div>
</div>