<div *ngIf="nextStep">
    <div class="page-header">
        <div class="row">
            <div class="text-red">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <div class="d-flex" >
                    <svg class="bi flex-shrink-0 me-2 m-t-3-5" width="24" height="24" role="img" aria-label="Danger:" ><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div >
                        <h3>Information you must to know before starting</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Preparation for the <b>{{examDetails.title | capitalizeLetter: 'full'}} {{examDetails.examType | SeparateWords | capitalizeLetter: 'full'}}</b></h5>           
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush list-group-numbered">
                    <li class="list-group-item">You have <b>{{getTime(examDetails.startHour,examDetails.endHour)}} min</b> for this {{examDetails.examType | SeparateWords | capitalizeLetter: 'first'}}, when the time finish you will not be able to answer for the rest of questions.</li>
                    <li class="list-group-item">You have <b>{{examDetails.questoin_count}} Questions</b> to answer.</li>
                    <li class="list-group-item">Stay in <b>Full Screen Mode</b> or that will be considered as a cheating.</li>
                    <li class="list-group-item"><b>Do not refresh the page</b> after starting the exam or that will be considered as a cheating.</li>
                    <li class="list-group-item"><b>Do not change the page</b> after starting the exam or that will be considered as a cheating.</li>
                    <li class="list-group-item">You need to <b>activate your webcam</b> because you will be registred.</li>
                    <li class="list-group-item">You need to <b>be alone in the room</b> or that will be considered as a cheating.</li>
                    <li class="list-group-item">Using of other <b>devises as CellPhone, Tablets, Labtop, Documents</b> will be considered as a cheating.</li>
                </ul>
            </div>
            <div class="card-footer" >
                <button class="btn bg-success-light float-end"
                    (click)="setNextStep()">I understand, Next </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!nextStep">
    <univ-exam-webcam></univ-exam-webcam>
</div>